@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Матчі</title>
    <style>
        td:not(:last-child),
        th:not(:last-child) {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <div>
        <h1>Футбольні матчі</h1>
        <table>
            <tr>
                <th><p>Матч №</p></th>
                <th><p>Перша команда</p></th>
                <th><p>Друга команда</p></th>
                <th></th>
            </tr>
            @foreach (var b in ViewBag.Matches)
            {
        <tr>
            <td><p>@b.matchId</p></td>
            <td><p>@b.matchFirstTeam</p></td>
            <td><p>@b.matchSecondTeam</p></td>
            <td><p><a href="/Home/HoldAMatch/@b.matchId"><b>Провести матч</b></a></p></td>
        </tr>
            }
        </table>
    </div>
</body>
</html>